/*
   miércoles, 10 de septiembre de 202511:00:01
   Usuario: sa
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionEmtrides
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Detalle_Contratos_Productos
	(
	id_Detalle_Productos int NOT NULL IDENTITY (1, 1),
	Numero_Contrato nvarchar(50) NOT NULL,
	Tipo_Contrato nvarchar(50) NOT NULL,
	Cod_Productos nvarchar(50) NULL,
	Descripcion_Productos nvarchar(255) NULL,
	Cantidad float(53) NULL,
	Precio_Unitario float(53) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Detalle_Contratos_Productos ADD CONSTRAINT
	DF_Detalle_Contratos_Productos_Cantidad DEFAULT 1 FOR Cantidad
GO
ALTER TABLE dbo.Detalle_Contratos_Productos ADD CONSTRAINT
	DF_Detalle_Contratos_Productos_Precio_Unitario DEFAULT 0 FOR Precio_Unitario
GO
ALTER TABLE dbo.Detalle_Contratos_Productos ADD CONSTRAINT
	PK_Detalle_Contratos_Productos PRIMARY KEY CLUSTERED 
	(
	id_Detalle_Productos,
	Tipo_Contrato,
	Numero_Contrato
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Detalle_Contratos_Productos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
