/*
   lunes, 9 de febrero de 202618:12:06
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionRevetsa
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Beneficiario
	(
	Codigo_Beneficiario nvarchar(250) NOT NULL,
	Nombre_Beneficiario nvarchar(50) NOT NULL,
	Apellido_Beneficiario nvarchar(50) NULL,
	FechaAdmision smalldatetime NULL,
	FechaNacimiento smalldatetime NULL,
	Direccion nvarchar(MAX) NULL,
	Sexo nvarchar(50) NOT NULL,
	Telefonos nvarchar(50) NULL,
	EstadoCivil nvarchar(50) NULL,
	Cedula nvarchar(50) NULL,
	RUC nvarchar(50) NULL,
	[Activo] [bit] NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Beneficiario ADD CONSTRAINT
	PK_Beneficiario PRIMARY KEY CLUSTERED 
	(
	Codigo_Beneficiario
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Beneficiario SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
