/*
   lunes, 9 de febrero de 202618:16:29
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionRevetsa
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Beneficiario ADD
	Foto nvarchar(MAX) NULL
GO
ALTER TABLE dbo.Beneficiario SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
