/*
   miércoles, 12 de agosto de 202009:50:21 a.m.
   Usuario: 
   Servidor: JUANBERMUDEZ-PC\SQL2014
   Base de datos: SistemaFacturacionSAYCO
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ConsecutivoSerie ADD
	NotaDebitoProveedor float(53) NULL,
	NotaCreditoProveedor float(53) NULL
GO
ALTER TABLE dbo.ConsecutivoSerie ADD CONSTRAINT
	DF_ConsecutivoSerie_NotaDebitoProveedor DEFAULT 0 FOR NotaDebitoProveedor
GO
ALTER TABLE dbo.ConsecutivoSerie ADD CONSTRAINT
	DF_ConsecutivoSerie_NotaCreditoProveedor DEFAULT 0 FOR NotaCreditoProveedor
GO
ALTER TABLE dbo.ConsecutivoSerie SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
