/*
   jueves, 20 de septiembre de 201206:43:50 a.m.
   Usuario: 
   Servidor: JUAN\SQL2005
   Base de datos: SistemaFacturacionDATANIC
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar esta secuencia de comandos detalladamente antes de ejecutarla fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Recibo ADD CONSTRAINT
	DF_Recibo_Activo DEFAULT 1 FOR Activo
GO
ALTER TABLE dbo.Recibo ADD CONSTRAINT
	DF_Recibo_Contabilizado DEFAULT 0 FOR Contabilizado
GO
ALTER TABLE dbo.Recibo ADD CONSTRAINT
	DF_Recibo_Marca DEFAULT 1 FOR Marca
GO
COMMIT
