/*
   miércoles, 27 de octubre de 202111:48:55
   Usuario: sa
   Servidor: JUANBERMUDEZ
   Base de datos: SistemaFacturacionEmtrides
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Detalle_Contratos_Productos
	(
	IdDetalleContratoProductos nvarchar(50) NOT NULL,
	Numero_Contrato int NOT NULL,
	Cod_Producto nvarchar(50) NULL,
	Descripcion_Producto nvarchar(MAX) NULL,
	Cantidad float(53) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Detalle_Contratos_Productos ADD CONSTRAINT
	PK_Detalle_Contratos_Productos PRIMARY KEY CLUSTERED 
	(
	IdDetalleContratoProductos,
	Numero_Contrato
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Detalle_Contratos_Productos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
