/*
   jueves, 19 de marzo de 202615:48:27
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionJerusalen
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Usuarios ADD
	PermiteActivarFactura bit NULL
GO
ALTER TABLE dbo.Usuarios ADD CONSTRAINT
	DF_Usuarios_PermiteActivarFactura DEFAULT 0 FOR PermiteActivarFactura
GO
ALTER TABLE dbo.Usuarios SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
