/*
   viernes, 7 de octubre de 202217:37:16 p. m.
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2019
   Base de datos: SistemaFacturacionMaternoInfantil
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Medicamentos_Consulta
	(
	idMedicamentos int NOT NULL,
	Cod_Productos nvarchar(50) NULL,
	Cantidad float(53) NULL,
	IdConsulta int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Medicamentos_Consulta ADD CONSTRAINT
	PK_Medicamentos_Consulta PRIMARY KEY CLUSTERED 
	(
	idMedicamentos
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Medicamentos_Consulta SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
