/*
   viernes, 21 de octubre de 202216:44:58 p. m.
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2019
   Base de datos: SistemaFacturacionMaternoInfantil
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Consulta ADD
	Activo bit NULL
GO
ALTER TABLE dbo.Consulta ADD CONSTRAINT
	DF_Consulta_Activo DEFAULT 1 FOR Activo
GO
ALTER TABLE dbo.Consulta SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
