/*
   jueves, 18 de agosto de 202202:03:59 p.m.
   User: 
   Server: JUANBERMUDEZ\SQL2019
   Database: SistemaFacturacionEmtrides
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.UnidadMedidaProductos
	(
	idUnidadMedida int NOT NULL IDENTITY (1, 1),
	Cod_Productos nvarchar(50) NULL,
	Unidad_Medida nvarchar(50) NULL,
	Cod_TipoPrecio nvarchar(50) NULL,
	Cantidad_Unidades float(53) NULL,
	Precio_Unitario float(53) NULL,
	Unidad_Defecto bit NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.UnidadMedidaProductos ADD CONSTRAINT
	DF_UnidadMedidaProductos_Unidad_Defecto DEFAULT 0 FOR Unidad_Defecto
GO
ALTER TABLE dbo.UnidadMedidaProductos ADD CONSTRAINT
	PK_UnidadMedidaProductos PRIMARY KEY CLUSTERED 
	(
	idUnidadMedida
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.UnidadMedidaProductos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
