/*
   jueves, 18 de agosto de 202204:37:05 p.m.
   User: 
   Server: JUANBERMUDEZ\SQL2019
   Database: SistemaFacturacionEmtrides
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Precios
	(
	Cod_Productos nvarchar(50) NOT NULL,
	Cod_TipoPrecio nvarchar(50) NOT NULL,
	idUnidadMedida int NOT NULL,
	Monto_Precio float(53) NULL,
	Monto_PrecioDolar float(53) NULL,
	PrecioDolar float(53) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Precios SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.Precios)
	 EXEC('INSERT INTO dbo.Tmp_Precios (Cod_Productos, Cod_TipoPrecio, Monto_Precio, Monto_PrecioDolar, PrecioDolar)
		SELECT Cod_Productos, Cod_TipoPrecio, Monto_Precio, Monto_PrecioDolar, PrecioDolar FROM dbo.Precios WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.Precios
GO
EXECUTE sp_rename N'dbo.Tmp_Precios', N'Precios', 'OBJECT' 
GO
ALTER TABLE dbo.Precios ADD CONSTRAINT
	PK_Precios PRIMARY KEY CLUSTERED 
	(
	Cod_Productos,
	Cod_TipoPrecio,
	idUnidadMedida
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
