/*
   jueves, 25 de agosto de 202210:48:18 a.m.
   User: 
   Server: JUANBERMUDEZ\SQL2019
   Database: SistemaFacturacionEmtrides
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Detalle_Facturas ADD
	Cod_TipoPrecio nvarchar(50) NULL,
	idUnidadMedida int NULL
GO
ALTER TABLE dbo.Detalle_Facturas ADD CONSTRAINT
	DF_Detalle_Facturas_Cod_TipoPrecio DEFAULT N'S/R' FOR Cod_TipoPrecio
GO
ALTER TABLE dbo.Detalle_Facturas ADD CONSTRAINT
	DF_Detalle_Facturas_idUnidadMedida DEFAULT 0 FOR idUnidadMedida
GO
ALTER TABLE dbo.Detalle_Facturas SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
