/*
   jueves, 25 de agosto de 202203:17:38 p.m.
   User: 
   Server: JUANBERMUDEZ\SQL2019
   Database: SistemaFacturacionEmtrides
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UnidadMedidaProductos ADD
	Precio_Unitario_Dolar float(53) NULL
GO
ALTER TABLE dbo.UnidadMedidaProductos ADD CONSTRAINT
	DF_UnidadMedidaProductos_Precio_Unitario_Dolar DEFAULT 0 FOR Precio_Unitario_Dolar
GO
ALTER TABLE dbo.UnidadMedidaProductos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
