/*
   sábado, 27 de agosto de 202211:23:39 a.m.
   User: 
   Server: JUANBERMUDEZ\SQL2019
   Database: SistemaFacturacionEmtrides
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UnidadMedidaProductos ADD
	Porciento float(53) NULL
GO
ALTER TABLE dbo.UnidadMedidaProductos ADD CONSTRAINT
	DF_UnidadMedidaProductos_Porciento DEFAULT 0 FOR Porciento
GO
ALTER TABLE dbo.UnidadMedidaProductos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
