/*
   viernes, 7 de agosto de 202616:50:39
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionNicacentro
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Precios ADD
	TipoProductor nvarchar(50) NULL
GO
ALTER TABLE dbo.Precios ADD CONSTRAINT
	DF_Precios_TipoProductor DEFAULT N'Productor' FOR TipoProductor
GO
ALTER TABLE dbo.Precios SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
