/*
   lunes, 10 de agosto de 202619:10:09
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionNicacentro
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Detalle_Nomina ADD
	LunesCodProducto nvarchar(50) NULL,
	MartesCodProducto nvarchar(50) NULL,
	MiercolesCodProducto nvarchar(50) NULL,
	JuevesCodProducto nvarchar(50) NULL,
	ViernesCodProducto nvarchar(50) NULL,
	SabadoCodProducto nvarchar(50) NULL,
	DomingoCodProducto nvarchar(50) NULL
GO
ALTER TABLE dbo.Detalle_Nomina SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
