/*
   martes, 4 de agosto de 202609:02:40
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionNicacentro
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Transportista
	DROP CONSTRAINT DF__Transport__Activ__18F76D81
GO
ALTER TABLE dbo.Transportista
	DROP CONSTRAINT DF_Transportista_FechaRegistro
GO
ALTER TABLE dbo.Transportista
	DROP CONSTRAINT DF_Transportista_Precio
GO
CREATE TABLE dbo.Tmp_Transportista
	(
	CodigoTransportista nvarchar(50) NOT NULL,
	NombreTransportista nvarchar(50) NULL,
	TelefonoTransportista nvarchar(50) NULL,
	DireccionTransportista nvarchar(50) NULL,
	CuentaContable nvarchar(50) NULL,
	Activo bit NOT NULL,
	FechaRegistro datetime2(3) NOT NULL,
	Precio float(53) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Transportista SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_Transportista ADD CONSTRAINT
	DF__Transport__Activ__18F76D81 DEFAULT ((1)) FOR Activo
GO
ALTER TABLE dbo.Tmp_Transportista ADD CONSTRAINT
	DF_Transportista_FechaRegistro DEFAULT (sysdatetime()) FOR FechaRegistro
GO
ALTER TABLE dbo.Tmp_Transportista ADD CONSTRAINT
	DF_Transportista_Precio_1 DEFAULT 0 FOR Precio
GO
IF EXISTS(SELECT * FROM dbo.Transportista)
	 EXEC('INSERT INTO dbo.Tmp_Transportista (CodigoTransportista, NombreTransportista, TelefonoTransportista, DireccionTransportista, CuentaContable, Activo, FechaRegistro)
		SELECT CodigoTransportista, NombreTransportista, TelefonoTransportista, DireccionTransportista, CuentaContable, Activo, FechaRegistro FROM dbo.Transportista WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.Transportista
GO
EXECUTE sp_rename N'dbo.Tmp_Transportista', N'Transportista', 'OBJECT' 
GO
ALTER TABLE dbo.Transportista ADD CONSTRAINT
	PK_Transportista PRIMARY KEY CLUSTERED 
	(
	CodigoTransportista
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
