/*
   domingo, 12 de julio de 202623:03:23
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionNicacentro
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Nomina ADD
	PorcientoIMI float(53) NULL
GO
ALTER TABLE dbo.Nomina ADD CONSTRAINT
	DF_Nomina_PorcientoIMI DEFAULT 1 FOR PorcientoIMI
GO
ALTER TABLE dbo.Nomina SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
