/*
   Miércoles, 07 de Abril de 201001:17:17 p.m.
   Usuario: 
   Servidor: JUAN\SQL2005
   Base de datos: SistemaFacturacion
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar esta secuencia de comandos detalladamente antes de ejecutarla fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Nlineas DEFAULT 5 FOR Nlineas
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X1 DEFAULT 0 FOR X1
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y1 DEFAULT 0 FOR Y1
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X2 DEFAULT 0 FOR X2
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y2 DEFAULT 0 FOR Y2
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X3 DEFAULT 0 FOR X3
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y3 DEFAULT 0 FOR Y3
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X4 DEFAULT 0 FOR X4
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y4 DEFAULT 0 FOR Y4
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X5 DEFAULT 0 FOR X5
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y5 DEFAULT 0 FOR Y5
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X6 DEFAULT 0 FOR X6
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y6 DEFAULT 0 FOR Y6
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X7 DEFAULT 0 FOR X7
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y7 DEFAULT 0 FOR Y7
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X8 DEFAULT 0 FOR X8
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y8 DEFAULT 0 FOR Y8
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X9 DEFAULT 0 FOR X9
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y9 DEFAULT 0 FOR Y9
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X10 DEFAULT 0 FOR X10
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y10 DEFAULT 0 FOR Y10
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X11 DEFAULT 0 FOR X11
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y11 DEFAULT 0 FOR Y11
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X12 DEFAULT 0 FOR X12
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y12 DEFAULT 0 FOR Y12
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X13 DEFAULT 0 FOR X13
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y13 DEFAULT 0 FOR Y13
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X14 DEFAULT 0 FOR X14
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y14 DEFAULT 0 FOR Y14
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X15 DEFAULT 0 FOR X15
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y15 DEFAULT 0 FOR Y15
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X16 DEFAULT 0 FOR X16
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y16 DEFAULT 0 FOR Y16
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X17 DEFAULT 0 FOR X17
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y17 DEFAULT 0 FOR Y17
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X18 DEFAULT 0 FOR X18
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y18 DEFAULT 0 FOR Y18
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X19 DEFAULT 0 FOR X19
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y19 DEFAULT 0 FOR Y19
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X20 DEFAULT 0 FOR X20
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y20 DEFAULT 0 FOR Y20
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X21 DEFAULT 0 FOR X21
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y21 DEFAULT 0 FOR Y21
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X22 DEFAULT 0 FOR X22
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y22 DEFAULT 0 FOR Y22
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X23 DEFAULT 0 FOR X23
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y23 DEFAULT 0 FOR Y23
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_X24 DEFAULT 0 FOR X24
GO
ALTER TABLE dbo.Coordenadas ADD CONSTRAINT
	DF_Coordenadas_Y24 DEFAULT 0 FOR Y24
GO
COMMIT
