/*
   martes, 17 de marzo de 201508:33:08 p.m.
   Usuario: sa
   Servidor: JUAN\SQL2005
   Base de datos: SistemaFacturacionRevetsa
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar esta secuencia de comandos detalladamente antes de ejecutarla fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Detalle_Lote ADD
	Disponible float(53) NULL
GO
ALTER TABLE dbo.Detalle_Lote ADD CONSTRAINT
	DF_Detalle_Lote_Cantidad DEFAULT 0 FOR Cantidad
GO
ALTER TABLE dbo.Detalle_Lote ADD CONSTRAINT
	DF_Detalle_Lote_Disponible DEFAULT 0 FOR Disponible
GO
COMMIT
