/*
   martes, 09 de marzo de 202109:20:35 a.m.
   Usuario: sa
   Servidor: JUANBERMUDEZ\SQL2014
   Base de datos: SistemaFacturacionEmtrides
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TipoContrato
	(
	idTipoContrato int NOT NULL IDENTITY (1, 1),
	TipoContrato nvarchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TipoContrato ADD CONSTRAINT
	PK_TipoContrato PRIMARY KEY CLUSTERED 
	(
	idTipoContrato
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TipoContrato SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
