/*
   viernes, 15 de agosto de 202516:27:39
   Usuario: sa
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionEmtrides
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Contrato_Proveedor
	(
	Numero_Contrato nvarchar(50) NOT NULL,
	Codigo_Proveedor nvarchar(50) NOT NULL,
	Contacto_Proveedor nvarchar(MAX) NULL,
	Telefono_Contacto nvarchar(50) NULL,
	Descripcion nvarchar(MAX) NULL,
	Monto float NULL,
	Fecha_Inicio datetime NULL,
	Fecha_Fin datetime NULL,
	Tipo_Servicio nvarchar(50) NULL,
	Tipo_Contrato nvarchar(50) NULL,
	Modelo nvarchar(50) NULL,
	Num_Respuesta int NULL,
	Num_Resolucion int NULL,
	Tiempo_Respuesta nvarchar(50) NULL,
	Tiempo_Resolucion nvarchar(50) NULL,
	Estado nvarchar(50) NULL,
	Comentarios nvarchar(MAX) NULL,
	Cobertura_Lunes bit NULL,
	Cobertura_Martes bit NULL,
	Cobertura_Miercoles bit NULL,
	Cobertura_Jueves bit NULL,
	Cobertura_Viernes bit NULL,
	Cobertura_Sabado bit NOT NULL,
	Cobertura_Domingo bit NULL,
	Lunes_Inicio smalldatetime NULL,
	Lunes_Fin smalldatetime NULL,
	Martes_Inicio smalldatetime NULL,
	Martes_Fin smalldatetime NULL,
	Miercoles_Inicio smalldatetime NULL,
	Miercoles_Fin smalldatetime NULL,
	Jueves_Inicio smalldatetime NULL,
	Jueves_Fin smalldatetime NULL,
	Viernes_Inicio smalldatetime NULL,
	Viernes_Fin smalldatetime NULL,
	Sabado_Inicio smalldatetime NULL,
	Sabado_Fin smalldatetime NULL,
	Domingo_Inicio smalldatetime NULL,
	Domingo_Fin smalldatetime NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Contrato_Proveedor ADD CONSTRAINT
	DF_Contrato_Proveedor_Cobertura_Lunes DEFAULT 1 FOR Cobertura_Lunes
GO
ALTER TABLE dbo.Contrato_Proveedor ADD CONSTRAINT
	DF_Contrato_Proveedor_Cobertura_Martes DEFAULT 1 FOR Cobertura_Martes
GO
ALTER TABLE dbo.Contrato_Proveedor ADD CONSTRAINT
	DF_Contrato_Proveedor_Cobertura_Miercoles DEFAULT 1 FOR Cobertura_Miercoles
GO
ALTER TABLE dbo.Contrato_Proveedor ADD CONSTRAINT
	DF_Contrato_Proveedor_Cobertura_Jueves DEFAULT 1 FOR Cobertura_Jueves
GO
ALTER TABLE dbo.Contrato_Proveedor ADD CONSTRAINT
	DF_Contrato_Proveedor_Cobertura_Viernes DEFAULT 1 FOR Cobertura_Viernes
GO
ALTER TABLE dbo.Contrato_Proveedor ADD CONSTRAINT
	PK_Contrato_Proveedor PRIMARY KEY CLUSTERED 
	(
	Numero_Contrato
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Contrato_Proveedor SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
