/*
   sábado, 16 de agosto de 202511:34:22
   Usuario: sa
   Servidor: JUANBERMUDEZ\SQL2022
   Base de datos: SistemaFacturacionRevetsa
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.LotexProducto
	(
	Cod_Productos nvarchar(50) NOT NULL,
	Numero_Lote nvarchar(250) NOT NULL,
	Cod_Bodega nvarchar(50) NOT NULL,
	Existencia Float NULL, 
	Fecha_Vence datetime NULL,
	Activo bit NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.LotexProducto ADD CONSTRAINT
	DF_LotexProducto_Activo DEFAULT 0 FOR Activo
GO
ALTER TABLE dbo.LotexProducto ADD CONSTRAINT
	PK_LotexProducto PRIMARY KEY CLUSTERED 
	(
	Cod_Productos,
	Numero_Lote,
	Cod_Bodega
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.LotexProducto SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
